extends ../main.jade

block main
  .container
    h1.ui.header Ex1: Sampling Theorem
    p cos(x), T = 2&pi;, f = 1 / T = 1 / 2&pi;
    span#s-f-min.ui.header
    input#adjust(type='range' min='0' max='100' value='50')
    span#s-f-max.ui.header
    #samp-peri.ui.header 
      | Sampling Period: 
      span
      | &pi; s
    #samp-freq.ui.header
      | Sampling Frequency: 
      span
      | &pi; Hz
    #signal-chart

block vars
  - var title = 'Ex1: Sampling Theorem'
