doctype html
block vars
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet' href='../app.css')
  body
    block main
    script(src='../app.js')
    script(src='index.js')
