doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{topic}
    link(rel='stylesheet' href='../app.css')
  body
    .container
      h1.ui.header Threshold Change
      #diagram
      a(href='https://github.com/wonderchang/adms/tree/master/app/#{num}') The source code are open and available in GitHub.
    script(src='../app.js')
    script(src='threshold-change.js')
