extends ../main.jade

block main
  .ui.header Consider a cosine signal with 2&pi; period. Please sample it with different frequency and discuss the results to demonstrate why Sampling Theorem works.
  p
    | Because the cosine is a very pure periodic signal, we can easily identify its frequency domain, remaining only two impules at the -1/2&pi; and 1/2&pi;.
    | So the maxima frequency of a cosine wave with 2&pi; period is 1/2&pi;.
    | According to Sampling Theorem, the sampling frequency should be two times greater than the maxima frequency of the signal, which means the sampling frequency should greater than 1/&pi; (fs > 1/&pi;).
  p
    | I make an adjustable bar that enable the user to change different sampling period to see the sampling result.
    | Use the numerical analysis to plot the point in the chart to figure out what the Sampling Theorem is doing, the sampling signal shown as orange line.
    | The related inital argument and adjustable bar for changing the sampling period are as below:
  .ui.bulleted.list
    .item Domain: [0, 40&pi;], Range: [1, -1]
    .item Cosine wave period: 2&pi;
    .item Cosine wave frequency: 1/2&pi;
    .item The maxima frequency (fm) = 1/2&pi;
    .item#samp-peri
      | Sampling Period: 
      span
      | &pi; sec
    .item#samp-freq
      | Sampling Frequency (fs): 
      span
  .ui.header.small Adjustable bar for sampling period
  span#s-f-min.ui.header.tiny(style='float: left')
  span#s-f-max.ui.header.tiny(style='float: right')
  input#adjust(type='range' min='0' max='100' value='100' style='width: 100%')
  #signal-chart

block vars
  - var num = 1
  - var dir = 'sampling-theorem'
  - var topic = 'Sampling Theorem'
  - var exercise = 'Exercise 1'
