extends ../main.jade

block main
  .ui.header Calculate the entropy of normal distribution
  #plot-normal
  #plot-entropy
  #entropy.ui.message

block vars
  - var num = 3
  - var dir = 'entropy'
  - var topic = 'Entropy'
  - var exercise = 'Exercise 1'
